:root {
  --gradient-bg: linear-gradient(
    245.71deg,
    #1e0c00 4.96%,
    #1f0700 33.7%,
    #170a00 68.41%,
    #1e0d00 96.42%
  );
  --gradient-footer: linear-gradient(
    245.71deg,
    #170a00 4.96%,
    #170600 33.7%,
    #0f0700 68.41%,
    #170a00 96.42%
  );
  --gradient-accent: linear-gradient(261.69deg, #ff6432 12.12%, #ffa228 86.72%);
  --color-white: #ffffff;
  --color-light-gray: #a3a3a3;
  --color-dark-gray: #515151;

  --container: min(1253px, 88.8%);

  --transition: all ease-in-out 0.3s;
}

/* 14.20.25.69 */
/* 400.500.700.800 */
@font-face {
  font-family: 'Muller';
  src:
    local('Muller'),
    url('../fonts/Muller/WEB/Muller-Trial-Regular.woff') format('woff'),
    url('../fonts/Muller/WEB/Muller-Trial-Regular.woff2') format('woff2'),
    url('../fonts/Muller/OTF/Muller-Trial-Regular.otf') format('opentype'),
    url('../fonts/Muller/TTF/Muller-Trial-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Muller';
  src:
    local('Muller'),
    url('../fonts/Muller/WEB/Muller-Trial-Medium.woff') format('woff'),
    url('../fonts/Muller/WEB/Muller-Trial-Medium.woff2') format('woff2'),
    url('../fonts/Muller/OTF/Muller-Trial-Medium.otf') format('opentype'),
    url('../fonts/Muller/TTF/Muller-Trial-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Muller';
  src:
    local('Muller'),
    url('../fonts/Muller/WEB/Muller-Trial-Bold.woff') format('woff'),
    url('../fonts/Muller/WEB/Muller-Trial-Bold.woff2') format('woff2'),
    url('../fonts/Muller/OTF/Muller-Trial-Bold.otf') format('opentype'),
    url('../fonts/Muller/TTF/Muller-Trial-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Muller';
  src:
    local('Muller'),
    url('../fonts/Muller/WEB/Muller-Trial-ExtraBold.woff') format('woff'),
    url('../fonts/Muller/WEB/Muller-Trial-ExtraBold.woff2') format('woff2'),
    url('../fonts/Muller/OTF/Muller-Trial-ExtraBold.otf') format('opentype'),
    url('../fonts/Muller/TTF/Muller-Trial-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-display: swap;
}
